@use './general/font';
@use './components/mediaquery';
@use './general/main';
@use './general/typo';
@use './components/buttons';
@use './components/navbar';
@use './components/footer';


#hero{
  max-width: 34%;
  margin: 0 auto;
  padding: 65px 0 0 0;
}