.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  border:1px solid #5bccf6;
  color: #fcde67;
  font-size: 20px;
  background-color: transparent;
}





