#card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .main-card {
    padding: 10px;
    position: relative;
    img {
      height: 400px;
      max-width: 100%;
    }

    &:hover {
      p {
        display: initial;
      }
    }

    p {
      display: none;
      position: absolute;
      bottom: 12px;
      left: 9px;
      background-color: #fff;
      width: 100%;
      padding: 20px;
      font-weight: 600;
      font-size: 25px;
      transition: 0.8s ease;
    }
  }
}

.card-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;

  img {
    height: 280px;
    max-width: 100%;
  }
}

.min-card {
  border: 1px solid #cbcbcb;
  display: flex;
  flex-direction: column;
  width: 376px;
  height: 500px;
}
