@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0 0 10px;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s;


    & li {
      margin-bottom: 25px;
    }

    &.active {
      right: 0px;
    }
  }

  #mobile {
    display: flex !important;
    align-items: center;
  }

  #close {
    display: initial !important;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 39px;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;

    .fe-box {
      margin: 15px 15px;
    }
  }

  #product1 {
    .pro {
      margin: 15px;
    }

    .pro-container {
      justify-content: center;
    }
  }

  #banner {
    height: 20vh;
  }

  #sm-banner {
    .banner-box {
      min-width: 100%;
      height: 30vh;
    }
  }

  #banner3 {
    padding: 0 40px !important;

    .banner-box {
      min-width: 28% !important;
    }
  }

  #newsletter {
    .form {
      width: 70% !important;
    }
  }


  // contact page

  #form-details {
    padding: 40px;

    form {
      width: 50%;
    }
  }

}





@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }


  #hero {
    padding: 0 20px;
    background-position: 55%;

    h2 {
      font-size: 32px;
    }
  }

  .section-p1 {
    padding: 20px;
  }

  #feature {
    justify-content: space-between;

    .fe-box {
      margin: 0 0 15px 0;
      width: 155px;
    }
  }

  #product1 {
    .pro {
      width: 100%;
    }
  }

  #banner {
    height: 40vh;
  }

  #sm-banner {
    .banner-box {
      height: 40vh;
    }

    .baner-box2 {
      margin-top: 20px;
    }
  }

  #banner3 {
    padding: 0 20px !important;

    .banner-box {
      width: 100% !important;
    }
  }

  #prodetails {
    display: flex;
    flex-direction: column;

    .single-pro-image {
      width: 100%;
      padding-top: 30px;

      .single-pro-details {
        width: 100%;
      }
    }
  }


  #newsletter {
    padding: 40px 20px !important;

    .form {
      width: 100% !important;
    }
  }

  #footer {
    .copyright {
      text-align: start !important;
    }
  }

  // blog

  #blog {
    padding: 100px 20px 0 20px;

    .blog-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .blog-img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }

    .blog-details {
      width: 100%;
    }
  }

  // about
  #about-head {
    flex-direction: column;

    img {
      width: 100%;
      margin-bottom: 20px;
    }

    div {
      padding-left: 0px;
    }
  }

  #about-app {
    .video {
      width: 100%;
    }
  }


  //  contact page
  #contact-details {
    flex-direction: column;

    .details {
      width: 100%;
      margin-bottom: 30px;
    }

    .map {
      width: 100%;
    }
  }

  #form-deatils {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;

    form {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  #cart-add{
    flex-direction: column;

  }

  #coupon{
    width: 100%;
  }

  #subtotal{
    width: 100%;
    padding: 20px;
  }
}